<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/css/main")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/js")
    </head>
    <body>
        <header>
            <div class="wrap"> <a style="font-size:30px" id="logo" href="@Url.Action("Index", "Home")">CSA</a>
                <hr>
                <nav>
                  <div id="nav"> <strong>Navigation</strong>
                    <ul>
                      <li class="active">@Html.ActionLink("Головна", "Index", "Home")</li>
                      <li class="parent"> <a href="#">База даних</a> 
                          <ul>
                            <li> @Html.ActionLink("Пари", "Index", "Schedule") </li>
                            <li> @Html.ActionLink("Студенти", "Index", "Student") </li>
                            <li> @Html.ActionLink("Групи", "Index", "Group") </li>
                            <li> @Html.ActionLink("Предмети", "Index", "Subject") </li>
                            <li> @Html.ActionLink("Викладачі", "Index", "Teacher") </li>
                            <li> @Html.ActionLink("Аудиторії", "Index", "Classroom") </li>
                            <li> @Html.ActionLink("Типи занять", "Index", "LessonType") </li>
                        </ul>
                      </li>
                        <li class="parent"> <a href="@Url.Action("ScheduleFor", "Schedule")">Розклад</a> 
                          <ul>
                            <li> @Html.ActionLink("Для студентів", "ScheduleFor", "Schedule", new { scheduleFor = "student" },null) </li>
                            <li> @Html.ActionLink("Для викладачів", "ScheduleFor", "Schedule", new { scheduleFor = "teacher" }, null) </li>                           
                        </ul>
                      </li>
                      <li> @Html.ActionLink("Про нас", "About", "Home") </li>
                      <li> @Html.ActionLink("Увійти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                      <li> @Html.ActionLink("Контакти", "Contact", "Home") </li>
                    </ul>
                  </div>
                </nav>
              </div>
        </header>

        <hr>


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>        
        <footer>
            <div class="content-wrapper">
                <div style="text-align:center">
                    <p>&copy; @DateTime.Now.Year — CSA</p>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")     
        @Scripts.Render("~/bundles/jqueryui")
        <script>
            $(function () {
                $(".jqueryui-marker-datepicker").datepicker({
                    dateFormat: "yy-mm-dd",
                    changeYear: true,
                    showOn: "button"
                }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select a date",
                    text: false
                });
            });
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
