@model CourseProject.Models.LoginModel

@{
    ViewBag.Title = "Виконати вхід";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>



@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Форма входа</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName,"Ім'я користувача")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, "Запам'ятати мене",new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Увійти" />
    </fieldset>
    <p>
        @Html.ActionLink("Реєстрація", "Register"), якщо у вас нема облікового запису.
    </p>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
