@model CourseProject.Models.Group

@{
    ViewBag.Title = "Edit";
}
@{
    
    SelectList list = new SelectList(new[] {"2011","2012","2013","2014","2015","2016","2017","2018","2019","2020"});
    }
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Group</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Group_ID)         
        </div> 

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EnrollmentYear)
        </div>
        <div class="editor-field">
            @Html.DropDownList("EnrollmentYear", list, String.Empty)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $('select').attr("required", "required");
        $('input[type="text"]').attr("required", "required");
    });
</script>
}
