@model IEnumerable<CourseProject.Models.Group>

@{
    ViewBag.Title = "Групи";
}

<h2>Групи</h2>

<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
       
        <th>
            <label class="labelForSchedule">Назва</label>
        </th>
        <th>
            <label class="labelForSchedule">Навчальний рік</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentYear)
        </td>
       <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Group_ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.Group_ID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Group_ID })
        </td>
    </tr>
}

</table>
