@model CourseProject.Models.Schedule

@{
    ViewBag.Title = "Копіювати";
}

<h2>Копіювати</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedule</legend>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.Teacher_ID, "Викладач")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Teacher_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Teacher_ID)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Group_ID, "Група")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Group_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Group_ID)
        </div>             
        
         <p>
            <input type="submit" value="Копіювати розклад" />
        </p>
        <p style="color:red">@ViewBag.NotFounded</p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section Scripts {
    
<script>
    $(function () {
        $('select').attr("required", "required");
        $('input[type="text"]').attr("required", "required");
    });
</script>
}