@model CourseProject.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Schedule</legend>

    <div class="display-label">
         <h3><label>ID пари</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Schedule_ID)
    </div>

    <div class="display-label">
         <h3><label>Предмет</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.Name)
    </div>

    <div class="display-label">
         <h3><label>Аудиторія</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Classroom.Number)
    </div>

    <div class="display-label">
         <h3><label>Тип заняття</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LessonType.Type)
    </div>

    <div class="display-label">
         <h3><label>Дата</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         <h3><label>Група</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Group.Name)
    </div>

    <div class="display-label">
         <h3><label>Викладач</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher.Name)
        @Html.DisplayFor(model => model.Teacher.Surname)
        @Html.DisplayFor(model => model.Teacher.LastName)
    </div>

    <div class="display-label">
         <h3><label>Навчальний рік</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnrollmentYear)
    </div>

    <div class="display-label">
         <h3><label>№ пари</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LessonNumber)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.Schedule_ID }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
