@model CourseProject.Models.Schedule

@{
    ViewBag.Title = "Редагувати";
}
@{
    
    SelectList listForYear = new SelectList(new[] { "2015", "2016", "2017", "2018", "2019", "2020" });
    SelectList listForNumber = new SelectList(new[] { "1", "2", "3", "4", "5", "6" });
    }
<h2>Редагувати</h2>
@* message about occupied classroom *@

<p style="color:red">@Html.Raw(ViewBag.roomNotFreeMessage)</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedule</legend>

        <div class="editor-field">
            @Html.HiddenFor(model => model.Schedule_ID)         
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject_ID, "Предмет")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Subject_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Subject_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Room_ID, "Аудиторія")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Room_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Room_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lesson_ID, "Тип заняття")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Lesson_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Lesson_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date,"Дата")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Group_ID, "Група")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Group_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.Group_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Teacher_ID, "Викладач")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Teacher_ID", String.Empty)            
            @Html.ValidationMessageFor(model => model.Teacher_ID)            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EnrollmentYear,"Навчальний рік")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EnrollmentYear", listForYear, String.Empty)
            @Html.ValidationMessageFor(model => model.EnrollmentYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LessonNumber,"№ пари")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LessonNumber", listForNumber, String.Empty)
            @Html.ValidationMessageFor(model => model.LessonNumber)
        </div>

        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад до спику", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $('select').attr("required", "required");
        $('input[type="text"]').attr("required", "required");
    });
</script>
}
