@model IEnumerable<CourseProject.Models.Schedule>

@{
    ViewBag.Title = "Index";

    var options = new AjaxOptions()
    {
        UpdateTargetId = "scheduledata",
        Url = Url.Action("ScheduleData"),
        LoadingElementId = "loadingIndicator",
        

    };
}

<h2>Schedule</h2>
<p>
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Copy Schedule", "Copy")
    </p>
@using (Ajax.BeginForm(options))
{
   
    
    <div id="scheduledata">
        @Html.Action("ScheduleData")
    </div>
    <input type="submit" name="update" value="Update Data" />
    <img id="loadingIndicator" style="display:none;" src="@Url.Content("~/Content/loading.gif")" />
}

@* message about occupied classroom *@

<h2>Schedule Upload</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{        
     <input type="file" name="Files" id="Files" />
     <br />
     <input type="submit" name="submit" value="Upload" /> 
}


@* Error message *@
@if (ViewBag.Feedback == "Upload complete")
{
<p style="color:green">@ViewBag.Feedback</p>
}
else
{
<p style="color:red">@ViewBag.Feedback</p>    
}
<p style="color:red">@Html.Raw(ViewBag.ErrorMassage)</p>


@* modal window for correction wrong records *@
@if (ViewBag.ErrorsInCSV == "true")
{
    if(ViewBag.ErrorNumber > 0) {
    <div class="modal" id="dialog1" title="Correct record">
    @Html.Action("CorrectRecord1")
    </div>  }
    
    if(ViewBag.ErrorNumber > 1) {
    <div class="modal" id="dialog2" title="Correct record">
    @Html.Action("CorrectRecord2")
    </div>  }
    
    if(ViewBag.ErrorNumber > 2) {
    <div class="modal" id="dialog3" title="Correct record">
    @Html.Action("CorrectRecord3")
    </div>  }
    
    if(ViewBag.ErrorNumber > 3) {
    <div class="modal" id="dialog4" title="Correct record">
    @Html.Action("CorrectRecord4")
    </div>  }
    
    if(ViewBag.ErrorNumber > 4) {
    <div class="modal" id="dialog5" title="Correct record">
    @Html.Action("CorrectRecord5")
    </div>  }
} 

@if (ViewBag.ErrorsInCSV == "true")
{
    @Html.ActionLink("Download file with wrong data", "DownloadFile");
}

@section scripts
{
    @* script for modal window to correct wrong records *@
    <script>
        $(function () {
            $('select').attr("required", "required");
            $('input[type="text"]').attr("required", "required");
        });

        $(function () {
            $("input[type='text']").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select a date",
                    text: false
                });
        });

            $(function () {
                $(".modal").dialog({
                    autoOpen: false,
                    width: 500,
                    height: 600,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                //$("#modal-opener").click(function () {
                //    $("#dialog-modal").dialog("open");
                //});

                $("#modal-opener1").click(function () {
                    $("#dialog1").dialog("open");
                });

                $("#modal-opener2").click(function () {
                    $("#dialog2").dialog("open");
                });

                $("#modal-opener3").click(function () {
                    $("#dialog3").dialog("open");
                });

                $("#modal-opener4").click(function () {
                    $("#dialog4").dialog("open");
                });

                $("#modal-opener5").click(function () {
                    $("#dialog5").dialog("open");
                });
            });

            function SuccessCorrect()
            {
                $(".modal").dialog("close");
            }
    </script>
    }