@model IEnumerable<CourseProject.Models.Schedule>

@{
    ViewBag.Title = "Index";

    var options = new AjaxOptions()
    {
        UpdateTargetId = "scheduledata",
        Url = Url.Action("ScheduleData"),
        LoadingElementId = "loadingIndicator",
        

    };
}

<h2>Index</h2>

@using (Ajax.BeginForm(options))
{
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Copy Schedule", "Copy")
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LessonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentYear)
            </th>
            <th>
                @Html.DisplayName("Number")
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody id="scheduledata">
    @foreach (var item in Model) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LessonType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
                @Html.DisplayFor(modelItem => item.Teacher.Surname)
                @Html.DisplayFor(modelItem => item.Teacher.LastName)            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentYear)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.LessonNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Schedule_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.Schedule_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Schedule_ID })
            </td>
        </tr>
    }   

    </tbody>

</table>
    <input type="submit" name="update" value="Update Data" />
    <img id="loadingIndicator" style="display:none;" src="@Url.Content("~/Content/loading.gif")" />
}

<h3>Schedule Upload</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        
     <input type="file" name="Files" id="Files" />
     <br />
     <input type="submit" name="submit" value="Upload" />
 
}


@* Error message *@
@if (ViewBag.Feedback == "Upload complete")
{
<p style="color:green">@ViewBag.Feedback</p>
}
else
{
<p style="color:red">@ViewBag.Feedback</p>    
}
<p style="color:red">@Html.Raw(ViewBag.ErrorMassage)</p>


@*<div class="modal" id="dialog-modal" title="Correct record">
    @Html.Action("CorrectRecord")
</div>*@  

@* modal window for correction wrong records *@
@if (ViewBag.ErrorsInCSV == "true")
{
    if(ViewBag.ErrorNumber > 0) {
    <div class="modal" id="dialog1" title="Correct record">
    @Html.Action("CorrectRecord1")
    </div>  }
    
    if(ViewBag.ErrorNumber > 1) {
    <div class="modal" id="dialog2" title="Correct record">
    @Html.Action("CorrectRecord2")
    </div>  }
    
    if(ViewBag.ErrorNumber > 2) {
    <div class="modal" id="dialog3" title="Correct record">
    @Html.Action("CorrectRecord3")
    </div>  }
    
    if(ViewBag.ErrorNumber > 3) {
    <div class="modal" id="dialog4" title="Correct record">
    @Html.Action("CorrectRecord4")
    </div>  }
    
    if(ViewBag.ErrorNumber > 4) {
    <div class="modal" id="dialog5" title="Correct record">
    @Html.Action("CorrectRecord5")
    </div>  }
} 

@*<button id="modal-opener">Open modal</button>*@


@if (ViewBag.ErrorsInCSV == "true")
{
    @Html.ActionLink("Download file with wrong data", "DownloadFile");
}

@section scripts
{
    @* script for modal window to correct wrong records *@
    <script>
        $(function () {
            $("input[type='text']").datepicker({
                dateFormat: "yy-mm-dd",
                changeYear: true,
                showOn: "button"
            }).css("display", "inline-block")
                .next("button").button({
                    icons: { primary: "ui-icon-calendar" },
                    label: "Select a date",
                    text: false
                });
        });

            $(function () {
                $(".modal").dialog({
                    autoOpen: false,
                    width: 450,
                    height: 600,
                    show: {
                        effect: "blind",
                        duration: 1000
                    },
                    hide: {
                        effect: "explode",
                        duration: 1000
                    }
                });

                //$("#modal-opener").click(function () {
                //    $("#dialog-modal").dialog("open");
                //});

                $("#modal-opener1").click(function () {
                    $("#dialog1").dialog("open");
                });

                $("#modal-opener2").click(function () {
                    $("#dialog2").dialog("open");
                });

                $("#modal-opener3").click(function () {
                    $("#dialog3").dialog("open");
                });

                $("#modal-opener4").click(function () {
                    $("#dialog4").dialog("open");
                });

                $("#modal-opener5").click(function () {
                    $("#dialog5").dialog("open");
                });
            });

            function SuccessCorrect()
            {
                $(".modal").dialog("close");
            }
    </script>

    

   
}