@model IEnumerable<CourseProject.Models.Subject>

@{
    ViewBag.Title = "Предмети";
}

<h2>Предмети</h2>

<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
        
        <th>
            <label class="labelForSchedule">Назва</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
             @Html.ActionLink("Редагувати", "Edit", new { id=item.Subject_ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.Subject_ID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Subject_ID })
        </td>
    </tr>
}

</table>
