@model CourseProject.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Teacher</legend>

    <div class="display-label">
         <h3><label>ID викладача</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Teacher_ID)
    </div>

    <div class="display-label">
         <h3><label>Ім'я</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         <h3><label>Прізвище</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-label">
         <h3><label>По батькові</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.Teacher_ID }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
