@model IEnumerable<CourseProject.Models.Teacher>

@{
    ViewBag.Title = "Викладачі";
}

<h2>Викладачі</h2>

<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
        
        <th>
            <label class="labelForSchedule">Ім'я</label>
        </th>
        <th>
            <label class="labelForSchedule">Прізвище</label>
        </th>
        <th>
            <label class="labelForSchedule">По батькові</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Teacher_ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.Teacher_ID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Teacher_ID })
        </td>
    </tr>
}

</table>
