@model CourseProject.Models.Classroom

@{
    ViewBag.Title = "Додати";
}

<h2>Додати</h2>
<p style="color:red">@Html.Raw(ViewBag.Error)</p>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Аудиторія</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number,"Номер")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
            @Html.ValidationMessageFor(model => model.Number)
        </div>

        <p>
            <input type="submit" value="Додати" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $('select').attr("required", "required");
        $('input[type="text"]').attr("required", "required");
    });
</script>
}
