@model IEnumerable<CourseProject.Models.Classroom>

@{
    ViewBag.Title = "Аудиторії";
}

<h2>Аудиторії</h2>

<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
       
        <th>
            <label class="labelForSchedule">Номер</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Room_ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.Room_ID }) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Room_ID })
        </td>
    </tr>
}

</table>
