@{
    ViewBag.Title = "Про нас";
}

<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    
</article>

<aside>
    <h3></h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
        <li>@Html.ActionLink("Про нас", "About", "Home")</li>
        <li>@Html.ActionLink("Контакти", "Contact", "Home")</li>
    </ul>
</aside>