@model CourseProject.Models.Grade

@{
    var options = new AjaxOptions()
    {
        UpdateTargetId = "gradedata",
        Url = Url.Action("CorrectRecordPost"),
        LoadingElementId = "loadingIndicator",
        OnSuccess = "SuccessCorrect"


    };
}

@using (Ajax.BeginForm(options))
{
    <div>
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Grade</legend>


        
        <div class="editor-field">
            @Html.HiddenFor(model => model.Grade_ID)
           
        </div>

       
        <div class="editor-field">
            @Html.HiddenFor(model => model.Schedule_ID)
          
        </div>

        
        <div class="editor-field">
            @Html.HiddenFor(model => model.Student_ID)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Visiting,"Відвідування")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Visiting)
            @Html.ValidationMessageFor(model => model.Visiting)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mark,"Оцінка")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mark)
            @Html.ValidationMessageFor(model => model.Mark)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment,"Коментар")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Comment,10,10,null)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Зберегти" />
        </p>
    </fieldset>

        </div>
}


