@model IEnumerable<CourseProject.Models.Student>

@{
    ViewBag.Title = "Студенти";
}

<h2>Студенти</h2>

<p>
    @Html.ActionLink("Додати запис", "Create")
</p>
<table>
    <tr>
        
        <th>
            <label class="labelForSchedule">Ім'я</label>
        </th>
        <th>
            <label class="labelForSchedule">Прізвище</label>
        </th>
        <th>
            <label class="labelForSchedule">По батькові</label>
        </th>
        <th>
            <label class="labelForSchedule">Група</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Name)
            @Html.DisplayFor(modelItem => item.Group.EnrollmentYear)
        </td>
        <td>
            @Html.ActionLink("Редагувати", "Edit", new { id=item.Student_ID }) |
            @Html.ActionLink("Деталі", "Details", new { id=item.Student_ID } ) |
            @Html.ActionLink("Видалити", "Delete", new { id=item.Student_ID } )
        </td>
    </tr>
}

</table>


<h2>Завантаження студентів</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{        
     <input type="file" name="Files" id="Files" />
     <br />
     <input type="submit" name="submit" value="Завантажити" /> 
}

@* Error message *@
@if (ViewBag.Feedback == "Завантаження завершено")
{
<p style="color:green">@ViewBag.Feedback</p>
}
else
{
<p style="color:red">@ViewBag.Feedback</p>    
}
<p style="color:red">@Html.Raw(ViewBag.ErrorMassage)</p>

@if (ViewBag.ErrorsInCSV == "true")
{
    @Html.ActionLink("Завантажити файл з неправильними записами", "DownloadFile");
}